.group-panel {

    padding-top:1em;

	h2,h3,h4 {
	    color: $gray-lightest;
    }

    ul {
	    padding: 0;
		list-style-type: none;
	}
}

.container {
    background-color:  $brand-info;
	border-radius:.1em;
}